.Settings {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.arrow {
  font-size: 1.5em;
  cursor: pointer;
}

.Settings .wrapper {
  display: flex;
  justify-content: center;
}

.Settings .wrapper .time {
  margin-left: 0.5em;
  margin-right: 0.5em;
  align-self: center;
}

.time {
  font-size: 1.5em;
}
